// Custom.scss
// Option A: Include all of Bootstrap

$primary: lightblue;
$body-secondary-bg: ivory;
$accordion-button-active-bg: lavenderblush;
$nav-pills-link-active-bg: white;
$nav-pills-link-active-color: royalblue;
$nav-link-color: white;

// npm 專案管理 node package manager
@import "../bootstrap/scss/bootstrap";

// Then add additional custom code here
